header{
    position: absolute;
    z-index: 100;
    background-color: rgb(77, 77, 77);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn{
        button{
        }
        .btn_linia{
        }
    }
    .counter_flag{
        display: flex;
        align-items: center;
        height: 100%;
        .active{

        }
        .counter_flag__div{

        }
        img{
            height: 100%;
        }
        .btn_linia{
            a{
                
            }
        }

    }
}