$card_width: 300px;
$card_height: 200px;
$card_margin: 10px;

$starting_offset: -30px; 

@keyframes group_block {
    from {
        transform: translate($starting_offset); // Start 100px to the left
    }
    to {
        transform: translate(
            calc(($card_width * -3) - ($card_margin * 6) + $starting_offset) // Adjust for offset
        );
    }
}

.main{
    margin-top: 200px;
	z-index: 1;

	.group_block_0{
		animation: group_block 5s linear infinite none;

		.Australia{
			box-shadow: 10px 10px 100px rgba(0, 32, 99, 0.658);
			&:hover{
			}
		}
		.Austria{
			box-shadow: 10px 10px 100px rgba(158, 19, 19, 0.658);
		}
		.Greece{
			box-shadow: 10px 10px 100px rgba(33, 62, 126, 0.658);
		}

	}
	.group_block_1{
		animation: group_block 10s linear infinite none;

		.Ukraine{
			box-shadow: 10px 10px 100px rgba(182, 165, 14, 0.658);
		}
		.Germany{
			box-shadow: 10px 10px 100px rgba(255, 145, 0, 0.658);
		}
		.USA{
			box-shadow: 10px 10px 100px rgba(187, 41, 41, 0.658);
		}

	}
	.group_block_2{
		animation: group_block 7s linear infinite none; 

		.Japan{
			box-shadow: 10px 10px 100px rgba(143, 97, 97, 0.658);
		}
	}

}



.group_block {
	display: flex;
	position: relative;
	rotate: (0deg);
	margin-bottom: 40px;
	.repetition_block {
		display: flex;
		padding: 0;
		margin: 0;
	}
}

.card {
	width: $card_width;
	height: $card_height;
	list-style: none;
	margin: 0 $card_margin;
	border-radius: 10px;
}


.img {
	img {
		width: $card_width;
        border-radius: 10px;
        &:active{
            transition: 1s;
            position: absolute;
            width: 400px;
            rotate: (0deg);
        }
	}
}

.card_btn {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}
