$card_width: 300px;
$card_height: 200px;
$card_margin: 10px;

$starting_offset: -30px;

html[data-theme='dark'] {
	.main {
		margin-top: 200px;
	}

	.group_block {
		display: flex;
		position: relative;
		rotate: (0deg);
		margin-bottom: 40px;
		.repetition_block {
			display: flex;
			padding: 0;
			margin: 0;
		}
	}

	.group_block_0 {
		animation: group_block 7s linear infinite none;
	}
	.group_block_1 {
		animation: group_block 10s linear infinite none;
	}
	.group_block_2 {
		animation: group_block 8s linear infinite none;
	}
	.group_block_3 {
		animation: group_block 6s linear infinite none;
	}
	.group_block_4 {
		animation: group_block 12s linear infinite none;
	}
}

html[data-theme='light'] {
	.repetition_block {
		display: none;
	}

	.main {
		margin-top: 200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.group_block {
		width: auto;
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 1400px;
		.repetition_block_1 {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 0;
			margin: 0;
		}
	}
}

@keyframes group_block {
	from {
		transform: translate($starting_offset); // Start 100px to the left
	}
	to {
		transform: translate(
			calc(($card_width * -3) - ($card_margin * 6) + $starting_offset)
		);
	}
}

.card {
	z-index: 3;
	width: $card_width;
	height: $card_height;
	list-style: none;
	margin: 0 $card_margin;
	border-radius: 10px;
	background-color: var(--background-card-color);

	& > div {
		overflow: hidden;
		border-radius: 10px;
	}

	.img {
		width: $card_width;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			object-fit: cover;
			transition: 0.5s;
		}
	}

	.card_btn {
		z-index: 3;
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
	}

	.blur {
		transition: 0.5s;
		z-index: -1;
		position: relative;
		top: -200px;
		width: $card_width;
		height: 150px;
		img {
			width: $card_width;
			filter: blur(50px);
		}
	}

	&:hover {
		.img {
			img {
				width: 105%;
				height: 105%;
			}
		}

		.blur {
			height: 200px;
		}
	}
}
