@import url(~normalize.css);
@import url(./variables.scss);

html {
	background-color: var(--background-color);
	color: var(--button-text-color);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

.hide {
	display: none;
}


