html[data-theme='dark'] {
  --text-color: #ffffff;
  --background-color: #292929;
  --background-card-color: #1f1f1f;
}

html[data-theme='light'] {
  --text-color: #252525;
  --background-color: #dfdfdf;
  --background-card-color: #bbbbbb;
}