html[data-theme='dark'] {
  --text-color: #ffffff;
  --background-color: #292929;
  --background-color-1: #3d3d3d;
  --background-card-color: #1f1f1f;
}

html[data-theme='light'] {
  --text-color: #252525;
  --background-color: #c4c4c4;
  --background-color-1: #ffffff;
  --background-card-color: #bbbbbb;
}